/* 
    Document   : style.css
*/

.menubar{
    -fx-font-size: 16pt;
    -fx-font-family: "Roboto";
    -fx-background: rgb(0, 0, 0);
    -fx-base: rgb(255, 255, 255);
}

.label-menu-item .label{
   -fx-text-alignment:center; 
}

.label-menu-item .label .text{
   -fx-text-alignment:center; 
}

.root{
    -fx-font-size: 16pt;
    -fx-font-family: "Franklin Gothic Medium";
    -fx-background: rgb(255, 255, 255);
    -fx-base: rgb(255, 255, 255);
}

.button{
    -fx-border-color: rgb(49, 89, 23);
    -fx-border-radius: 5;
    -fx-padding: 3 6 6 6;
    -fx-text-fill: rgb(49, 89, 23);
}

.borders{
    -fx-border-color: rgb(103, 100, 78);
    -fx-border-style: dotted;
    -fx-border-width: 1.5;
    -fx-border-insets: -5;
}

.grid-pane {
    -fx-padding: 5;
    -fx-border-color: rgb(132, 134, 137);
    -fx-border-width: 2;
    -fx-max-width: 90;
    -fx-hgap: 5; /* Horizontal gap between cells */
    -fx-vgap: 5; /* Vertical gap between cells */
}

.grid-pane .text-field {
    -fx-font-size: 35;
    -fx-font-family: "Franklin Gothic Medium";
    -fx-font-weight: bold;
    -fx-letter-spacing: 10;
    -fx-max-height: 90;
    -fx-min-width: 90;
    -fx-min-height: 90;
    -fx-border-color: rgb(212, 214, 218); /* Default light borders for all cells */
    -fx-border-width: 2.5; /* Thinner borders within subgrids */
}

.grid-pane .label {
    -fx-font-size: 35;
    -fx-font-family: "Franklin Gothic Medium";
    -fx-font-weight: bold;
    -fx-letter-spacing: 2;
    -fx-alignment: center;
    -fx-max-width: 90;
    -fx-max-height: 90;
    -fx-min-width: 90;
    -fx-min-height: 90;
    -fx-border-color: rgb(212, 214, 218); /* Default light borders for all cells */
    -fx-border-width: 2.5; /* Thinner borders within subgrids */
}

.default-label {
    -fx-border-color: rgb(255, 255, 255);
    -fx-background-color: rgb(255, 255, 255);
    -fx-text-fill: rgb(255, 255, 255);
}

.correct-label {
    -fx-border-color: rgb(105, 171, 100);
    -fx-background-color: rgb(105, 171, 100);
    -fx-text-fill: rgb(255, 255, 255);
}

.correct-wrong-spot-label{
    -fx-border-color: rgb(201, 180, 87);
    -fx-background-color: rgb(201, 180, 87);
    -fx-text-fill: rgb(255, 255, 255);
}

.incorrect-label {
    -fx-border-color: rgb(120, 124, 127);
    -fx-background-color: rgb(120, 124, 127);
    -fx-text-fill: rgb(255, 255, 255);
}

.text-field-selected {
    -fx-background-color: rgb(147, 155, 221);
}

.text-field-highlight {
    -fx-background-color: rgb(238, 148, 148);
}


.grid-pane .right-border {
    -fx-border-color: black;
    -fx-border-width: 0 2 0 0;
}

.grid-pane .bottom-border {
    -fx-border-color: black; 
    -fx-border-width: 0 0 2 0;
}

.grid-pane .bottom-right-border {
    -fx-border-color: black; 
    -fx-border-width: 0 2 2 0;
}
  